body{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #f6f6f6;
}
h2{
    font-weight: lighter;
    padding: 20px;
    text-align: center;
}
header{
    background-color: #f6f6f6;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: #f6f6f6;
    text-align: center;
}
footer{
    background-color: #f6f6f6;
    text-align: center;
    padding: 20px;
    color: black;
}
.container{
    text-align: center;
}

div.card{
    background-color: white;
}

div.tecnologias img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}


div.subtitle i{
    padding: 20px;
    font-size: 22px;
    color: black;
}
div.contact i{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  div.contact i:hover {
    transform: scale(1.1);
  }
  
  div.contact i:active {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  a{
    
    font-weight: lighter;
  }

 