body{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #EBF3FF;
}
h2{
    padding: 20px;
    text-align: center;
}
header{
    background-color: #EBF3FF;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: #EBF3FF;
    text-align: center;
}
footer{
    background-color: #EBF3FF;
    text-align: center;
    padding: 20px;
}
.container{
    text-align: center;
}

div.tecnologias img{
    margin-left: 20px;
    margin-right: 20px;
}

i {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  i:hover {
    transform: scale(1.1);
  }
  
  i:active {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }